.bg-container {
	background: url("/assets/images/Bangkok-bg.jpg") center no-repeat;
	height: 100%;
	width: 100%;
	background-size: cover;
	overflow: auto;
}

.login-container{
  max-width: 400px; 
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #34495E;
  padding: 20px;
  border-radius: 20px;
  .form-group {
      padding: 10px 10px;
      label {
        padding: 0 20px 0 0;
        max-width: 50px;
        float: left;
      }
      input {
        border: none;
        outline: none;
        max-width: 240px;
        padding: 5px 0;
      }
      button {
         width: 100%;
         padding: 10px;
         background: #2e82d6;
         border: none;
         color: #fff;
         border-radius: 5px;

      }
  }
}



.error{
  color: tomato; 
  font-size: 12px; 
  padding-top: 4px
}