.main_nav {
	margin: 0 0 40px 0;
	padding: 40px 0 20px 100px;
	clear: both;
	li {
		float: left;
		list-style: none;
		color: #fff;
		margin: 0 20px 0 10px;
		&:first-child{
			margin: 0 20px 0 0px;
		}
		a {
			float: left;
			display: block;
			padding: 10px 20px;
			text-decoration: none;
			position: relative;
			z-index: 999;
			color: #025226;
			background: #a0b4a9;
			font-weight: 500;
			&:before {
				content: '';
			    border-right: 20px solid #9BB5A3;
			    border-top: 42px solid transparent;
			    position: absolute;
			    left: -20px;
			    top: 0;
			}
			&:after {
			    content: '';
			    border-left: 20px solid #9BB5A3;
			    border-bottom: 42px solid transparent;
			    position: absolute;
			    right: -20px;
			    top: 0;
			}
			&.active {
				background: #0F8B23;
				color: #fff;
				&:before {
					content: '';
				    border-right: 20px solid #0F8B23;
				    border-top: 42px solid transparent;
				    position: absolute;
				    left: -20px;
				    top: 0;
				}
				&:after {
					content: '';
				    border-left: 20px solid #0F8B23;
				    border-bottom: 42px solid transparent;
				    position: absolute;
				    right: -20px;
				    top: 0;
				}
			}
			&.back {
				color: #fff;
				background: #025226;
				&:before {
					content: '';
				    border-right: 0 solid #025226;
				    border-top: 0 solid transparent;
				    position: absolute;
				    left: 0;
				    top: 0;
				}
				&:after {
					content: '';
				    border-left: 20px solid #025226;
				    border-bottom: 42px solid transparent;
				    position: absolute;
				    right: -20px;
				    top: 0;
				}
				&:hover, &:active, &:focus {
					&:before {
						content: '';
					    border-right: 0 solid #025226;
					    border-top: 0 solid transparent;
					    position: absolute;
					    left: 0;
					    top: 0;
					}
				}
			}
			&:hover, &:active, &:focus {
				background: #0F8B23;
				color: #fff;
				&:before {
					content: '';
				    border-right: 20px solid #0F8B23;
				    border-top: 42px solid transparent;
				    position: absolute;
				    left: -20px;
				    top: 0;
				}
				&:after {
					content: '';
				    border-left: 20px solid #0F8B23;
				    border-bottom: 42px solid transparent;
				    position: absolute;
				    right: -20px;
				    top: 0;
				}
			}
		}
		.sub_nav {
			margin: 0;
			padding: 0;
			min-width: 355px;
			display: none;
			animation-duration: 1s;
			animation-fill-mode: both;
			transition: all 2s ease;
			li {
				float: left;
				list-style: none;
				margin: 0 0px 0  24px;
				&:first-child{
					margin: 0 0px 0 26px;
				}
				a{
					background: #E2DFED;
					display: block; 
					float: left;	
					padding: 3px 10px;
					text-decoration: none;
					margin: 8px 0 0;
					color: #025226;
					&:before {
						content: '';
					    border-right: 15px solid #E2DFED;
					    border-top: 28px solid transparent;
					    position: absolute;
					    left: -15px;
					    top: 0;
					}
					&:after {
					    content: '';
					    border-left: 15px solid #E2DFED;
					    border-bottom: 28px solid transparent;
					    position: absolute;
					    right: -15px;
					    top: 0;
					}
					&.active {
						background: #3D711F;
						color: #fff;
						&:before {
							content: '';
						    border-right: 15px solid #3D711F;
						    border-top: 28px solid transparent;
						    position: absolute;
						    left: -15px;
						    top: 0;
						}
						&:after {
							content: '';
						    border-left: 15px solid #3D711F;
						    border-bottom: 28px solid transparent;
						    position: absolute;
						    right: -15px;
						    top: 0;
						}
					}
					&:hover, &:active, &:focus {
						background: #3D711F;
						color: #fff;
						&:before {
							content: '';
						    border-right: 15px solid #3D711F;
						    border-top: 28px solid transparent;
						    position: absolute;
						    left: -15px;
						    top: 0;
						}
						&:after {
							content: '';
						    border-left: 15px solid #3D711F;
						    border-bottom: 28px solid transparent;
						    position: absolute;
						    right: -15px;
						    top: 0;
						}
					}
				}

			}
		}
		.expand {
			display: block;
			animation-name: slideInLeft;
			animation-duration: 1s;
			animation-fill-mode: both;
			transition: all 2s ease;
		}
	}
}


@keyframes slideInLeft {
	0% {
		transform: translateX(-10%);
		visibility: visible;
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}


.bms-wrapper {
	width: 100%;
	height: 100%;
	background: url("/assets/images/bg_bms.jpg") top center no-repeat;
	background-size: cover;
	overflow: auto;
}

.bms-container {
	/*max-width: 1024px;*/
	padding: 10px 20px 0;
	margin: 0 auto;
}

.header-container {
	background: #22521c;
	padding: 22px 20px 36px;
	width: 70%;
	float: left;
}

.title-container {
	.title {
	    color: #fff;
	    font-size: 36px;
	    padding: 7px 20px 0 10px;
	    margin: 0;
	    line-height: 1;
	    float: left;
	    border-right: 1px solid #356A45;
		span {
			color: #fff;
			font-size: 16px;
			display: block;
			padding: 14px 0 0 9px;
			margin: 0;
		}
	}
	.time-container {
		width: 150px;
	    float: left;
	    color: #fff;
	    font-size: 34px;
	    font-weight: 600;
	    line-height: 1;
	    padding: 5px 10px 0 31px;
	    border-right: 1px solid #356A45;
	    span {
	    	display: block;
	    }
	    .time {

	    }
	    .date {
	    	font-weight: 300;
	    	font-size: 26px;
	    }
	}
	.weather {
		color: #fff;
	    font-size: 32px;
	    font-weight: 600;
	    padding: 5px 28px 0 37px;
	    float: left;
	    line-height: 1;
	    border-right: 1px solid #356A45;
	    .weather-title {
	        display: block;
		    font-weight: 300;
		    font-size: 25px;
		    padding: 0px 0 0;
	    }
	}
	.co {
		float: left;
	    width: 150px;
	    color: #fff;
	    font-size: 33px;
	    padding: 5px 0 0 38px;
	    font-weight: 600;
	    line-height: 1;
		.co-title {
			display: block;
		    font-weight: 300;
		    font-size: 23px;
		}
	}
}

.content-container {
	clear: both;
	padding: 21px 0;
	.floor-title {
        font-size: 38px;
	    margin: 0;
	    padding: 8px 0 22px 0;
	    line-height: 1;
	    max-width: 650px;
	    border-bottom: 1px solid #DEDCD8;
	    margin: 0 0 0 97px;
	    span {
	    	display: block;
			font-size: 20px;
			padding: 3px 0 0;
			font-weight: 300;
	    }
	}
}

.logo {
	margin: 22px 0 0 45px;
    float: left;
    img {
    	max-width: 100%;
    }
}

.mat-header-cell {
    position: sticky;
    top: 0;
    background: #F0EFED;
    border-top: 1px solid #AE9897 !important;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
	z-index: 999;
}

.mat-elevation-z8 {
	box-shadow: (0 0 0 0) !important;
}

.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-height: 300px;
  overflow: auto;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.table-container {
    min-width: 650px;
    margin: 0 0 0 97px;
    float: left;
}

.building-container {
	max-width: 620px;
    float: left;
    padding: 0 0 0 120px;
    clear: right;
    img {
    	max-width: 70%;
    }
}

td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
	border: none;
}

.example-container::-webkit-scrollbar {
    width: 10px;
    background: #fff;
}
 
.example-container::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
    background-color:rgba(192,192,192,0.2)
}
 
.example-container::-webkit-scrollbar-thumb {
  background-color: #BAB5AF;
  outline: 1px solid #BAB5AF;
  border-radius: 32px;
}

.mat-table {
	background: rgba(255,255,255, 0.5);
}

.details {
    padding: 20px 0 0 100px;
    .red {
	    display: inline-block;
	    height: 15px;
	    width: 15px;
	    background: #FF0000;
    }
    .green {
    	display: inline-block;
    	height: 15px;
    	width: 15px;
    	background: #3EB636;
    	margin: 0 0 0 30px;
    }
}

.mat-checkbox {
	.mat-checkbox-background {
		background: #3EB636;
	}
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
	background: #3EB636 !important;
}