<div class="bms-wrapper">
  <div class="bms-container">
    <header class="header-container">
      <div class="title-container">
          <p class="title">Building Management System <span>Building Name, Place Name</span></p>
          
          <div class="time-container">
            <span class="time">4:30 PM</span>
            <span class="date">05 MAR 18</span>
          </div>
          <div class="weather">
            27.4 C
            <span class="weather-title">Weather</span>
          </div>
          <div class="co">
            630.87
            <span class="co-title">co <sup>2</sup>(ppm) </span>
          </div>
        </div>  
    </header> 
    <div class="logo">
      <img src="/assets/images/logo.png" class="logo-image">
    </div>
    <div class="content-container">
      <h4 class="floor-title">4th Floor <span>Air Conditioner Status</span> </h4>
      <div class="details">
        <span class="red"></span> Off 32 Units
        <span class="green"></span> On 6 Units
      </div>
        
    </div>

    <div class="table-container">
      <div class="example-container mat-elevation-z8">
  <table mat-table #table [dataSource]="dataSource">
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <!-- <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox> -->
        Status
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef> Weight </th>
      <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef> Symbol </th>
      <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
             (click)="selection.toggle(row)">
    </tr>
  </table>
</div>
    </div>

    <div class="building-container">
      <img src="/assets/images/foor-plan.png" class="foor-image">
    </div>

    <ul class="main_nav">
      <li>
        <a #someVar (click)=Data() class="back">Back</a>
      </li>
      <li>
        <a #someVar (click)="step='step1'" [ngClass]="{active:step=='step1'}">Floor 1</a>
        <ul class="sub_nav" [class.expand]="step=='step1'" >
          <li><a (click)="substep='substep1'" [ngClass]="{active:substep=='substep1'}">Air Conditioner</a></li>
          <li><a (click)="substep='lighting1'" [ngClass]="{active:substep=='lighting1'}">Lighting</a></li>
        </ul>
      </li>
      <li>
        <a #someVar (click)="step='step2'" [ngClass]="{active:step=='step2'}">Floor 2</a>
        <ul class="sub_nav" [class.expand]="step=='step2'">
          <li><a (click)="substep='substep2'" [ngClass]="{active:substep=='substep2'}">Air Conditioner</a></li>
          <li><a (click)="substep='lighting2'" [ngClass]="{active:substep=='lighting2'}">Lighting</a></li>
        </ul>
      </li>
      <li>
        <a #someVar (click)="step='step3'" [ngClass]="{active:step=='step3'}">Floor 3</a>
        <ul class="sub_nav" [class.expand]="step=='step3'">
          <li><a (click)="substep='substep3'" [ngClass]="{active:substep=='substep3'}">Air Conditioner</a></li>
          <li><a (click)="substep='lighting3'" [ngClass]="{active:substep=='lighting3'}">Lighting</a></li>
        </ul>
      </li>
      <li>
        <a #someVar (click)="step='step4'" [ngClass]="{active:step=='step4'}">Floor 4</a>
        <ul class="sub_nav" [class.expand]="step=='step4'">
          <li><a (click)="substep='substep4'" [ngClass]="{active:substep=='substep4'}">Air Conditioner</a></li>
          <li><a (click)="substep='lighting4'" [ngClass]="{active:substep=='lighting4'}">Lighting</a></li>
        </ul>
      </li>
      <li>
        <a #someVar class="Roof-Floor">Roof Floor</a>
      </li>
    </ul>
  </div>

  </div>